@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 41, 44, 51;
    --background-dark-rgb: 22, 24, 29;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  button {
    padding: 2px 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  button.submit {
    background-color: #f85a3e;
  }

  button.disabled {
    background-color: rgb(235, 235, 228);
    color: rgb(87 83 78);
    opacity: 0.3;
    cursor: default;
  }
}
