.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 260px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  /* Add padding as needed */
}

.link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}